<h1 id="about_title">About Me</h1>
<div id="img"><%= image_tag "Photo.jpg" %></div>
<p id="about_paragraph">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut eros vel enim mollis pellentesque ac sit amet sem. Integer accumsan, quam id maximus fringilla, metus turpis fringilla libero, id iaculis eros diam vitae ex. Donec mattis tellus in odio laoreet, vel lobortis quam luctus. Mauris congue nunc eu urna ullamcorper feugiat. Mauris vitae ornare arcu. Fusce felis nunc, finibus rutrum mi id, pharetra vulputate risus. Phasellus egestas pellentesque massa, eget pulvinar metus gravida sit amet. Praesent cursus urna scelerisque volutpat tempor. Vivamus eu nisl et massa sagittis euismod. Sed dapibus eget ex id ornare. Proin sodales luctus risus dapibus convallis.

Praesent eu convallis nulla. Phasellus dui nibh, maximus eget tempor et, porttitor ut tortor. Nulla volutpat posuere massa eget auctor. Integer non velit in lacus congue dignissim ac ut tortor. Pellentesque malesuada, arcu ac consequat luctus, odio massa efficitur urna, ac ultrices eros orci ut turpis. Praesent viverra neque turpis, id commodo felis placerat et. Nullam maximus risus mattis pellentesque sodales. Donec sed lacus faucibus sapien finibus iaculis.
</p>

