<h1 id="about_title">About Me</h1>
	<div id="img">
		<div id="inner_img">
			<%= image_tag "photo.jpg" %>
		</div>
	</div>
	<div id="paragraph">
		<div id="inner-paragraph">
			<p>hey my name is paul and i am an aspiring web developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic design developer and graphic designer </p>
		</div>
	</div>
