/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/****** FONTS ******/
@font-face {
  font-family: 'ubunturegular';
  src: url(/assets/ubuntu-r-webfont.eot);
  src: url(/assets/ubuntu-r-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/ubuntu-r-webfont.woff) format("woff"), url(/assets/ubuntu-r-webfont.ttf) format("truetype"), url(/assets/ubuntu-r-webfont.svg#ubunturegular) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntulight';
  src: url(/assets/ubuntu-l-webfont.eot);
  src: url(/assets/ubuntu-l-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/ubuntu-l-webfont.woff) format("woff"), url(/assets/ubuntu-l-webfont.ttf) format("truetype"), url(/assets/ubuntu-l-webfont.svg#ubuntulight) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntumedium';
  src: url(/assets/ubuntu-m-webfont.eot);
  src: url(/assets/ubuntu-m-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/ubuntu-m-webfont.woff) format("woff"), url(/assets/ubuntu-m-webfont.ttf) format("truetype"), url(/assets/ubuntu-m-webfont.svg#ubuntumedium) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vollkornbold';
  src: url(/assets/vollkorn-bold-webfont.eot);
  src: url(/assets/vollkorn-bold-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/vollkorn-bold-webfont.woff) format("woff"), url(/assets/vollkorn-bold-webfont.ttf) format("truetype"), url(/assets/vollkorn-bold-webfont.svg#vollkornbold) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vollkornregular';
  src: url(/assets/vollkorn-regular-webfont.eot);
  src: url(/assets/vollkorn-regular-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/vollkorn-regular-webfont.woff) format("woff"), url(/assets/vollkorn-regular-webfont.ttf) format("truetype"), url(/assets/vollkorn-regular-webfont.svg#vollkornregular) format("svg");
  font-weight: normal;
  font-style: normal;
}

/*********  MAIN CSS  *********/
/** {
  box-sizing: border-box;
}*/
/* line 91, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
body {
  margin: 0;
  padding: 0;
  background: #ECECEC;
}

/* line 98, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
a {
  text-decoration: none;
}

/* line 102, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
a:visited {
  color: #000;
}

/* line 107, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
header {
  width: 100%;
  background: white;
}

/* line 113, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
header #logo {
  top: 50%;
  width: 45%;
  float: left;
  position: relative;
  font-family: 'ubuntumedium';
  font-size: 3em;
  color: #FA4D32;
}

/* line 123, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
header #logo a {
  color: #FA4D32;
}

/* line 127, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
header nav {
  width: 35%;
  float: right;
  margin-top: 50px;
}

/* line 133, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* line 140, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
nav li {
  display: inline-block;
  width: 33.3%;
  font-size: 1.1em;
  float: left;
}

/* line 150, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
#page_wrapper {
  max-width: 60em;
  margin: 0 auto;
  overflow: hidden;
}

/* line 156, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
#content-wrapper {
  margin-top: 150px;
  overflow: hidden;
}

/* line 161, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.portfolio-square {
  width: 25%;
  padding-bottom: 25%;
  position: relative;
  float: left;
}

/* line 172, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.inside-square {
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  overflow: hidden;
}

/* line 181, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.blur {
  height: 100%;
}

/* line 185, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.blur img {
  transition: 1s ease;
  -webkit-backface-visibility: hidden;
}

/* line 190, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.inside-square img {
  display: block;
  margin: 0;
}

/* line 195, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.inside-square a {
  position: absolute;
  top: 0%;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 204, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.inside-square p {
  position: absolute;
  top: 40%;
  left: 45%;
  opacity: 0;
}

/* line 211, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.portfolio-square .inside-square:hover img {
  -webkit-filter: blur(4px);
  transition: 1s ease;
}

/* line 216, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.portfolio-square .inside-square:hover p {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

/*******  PROJECTS  PAGES   **********/
/* line 228, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.project_title {
  width: 100%;
  text-align: center;
}

/* line 234, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.project_description {
  max-width: 75%;
  margin: 0 auto;
}

/********   ABOUT   ************/
/* line 246, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
#about_title {
  width: 100%;
  text-align: center;
}

/* line 251, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
#about_paragraph {
  width: 45%;
  float: right;
  font-family: 'vollkornregular';
}

/* line 256, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
#img {
  float: left;
}

/* line 260, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
img {
  width: 450px;
  height: auto;
  align: left;
  margin: 10px;
}

/*************  SIMPLE_FORM CSS  ****************/
/* ----- SimpleForm Styles ----- */
/* line 273, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
#formcontainer {
  width: 50%;
  font-size: 15px;
  margin: 50px auto;
}

/* line 279, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.simple_form div.input {
  margin-bottom: 10px;
  clear: both;
  /* Required for Webkit, but not for Gecko */
}

/* line 284, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.simple_form label {
  float: left;
  width: 100%;
  text-align: right;
  margin: 0;
  text-align: left;
  margin-bottom: 5px;
}

/* line 293, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

/* line 297, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

/* line 302, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

/* line 308, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.field_with_errors {
  background-color: #ff3333;
}

/* line 312, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

/* line 319, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

/* line 327, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

/* line 332, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

/* line 337, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
input#contact_name.string.required {
  font-size: 15px;
  height: 2em;
  width: 100%;
  border: none;
  border-radius: 2px;
}

/* line 346, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
input#contact_email.string.email.required {
  font-size: 15px;
  height: 2em;
  width: 100%;
  border: none;
  border-radius: 2px;
}

/* line 354, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
textarea#contact_message.text.optional {
  font-size: 15px;
  height: 6em;
  width: 100%;
  border: none;
  border-radius: 2px;
}

/* line 362, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

/* line 369, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
abbr {
  display: none;
}

/* line 373, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
div.boolean, .simple_form input[type='submit'] {
  margin-left: 0px;
  border: none;
}

/***********  RESPONSIVE  ************/
@media only screen and (max-width: 480px) {
  /* Smartphone view: 1 tile */
  /* line 382, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  .portfolio-square {
    width: 50%;
    padding-bottom: 50%;
    text-align: center;
  }

  /* line 388, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  header #logo {
    float: none;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 2.25em;
  }

  /* line 398, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  header nav {
    float: none;
    margin: 0 auto;
    width: 100%;
    font-size: .85em;
  }

  /* line 405, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  nav ul {
    padding: 0;
  }

  /* line 409, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  nav li {
    width: 33.3%;
    float: left;
  }

  /* line 414, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  #content-wrapper {
    margin-top: 50px;
  }

  /* line 418, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  #formcontainer {
    width: 95%;
  }
}
@media only screen and (max-width: 750px) and (min-width: 481px) {
  /* Tablet view: 2 tiles */
  /* line 424, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  .portfolio-square {
    width: 50%;
    padding-bottom: 50%;
  }

  /* line 429, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  header #logo {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  /* line 437, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  header nav {
    float: none;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
  }

  /* line 444, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  nav ul {
    padding: 0;
  }

  /* line 448, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  nav li {
    width: 33.3%;
    float: left;
  }

  /* line 453, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  #content-wrapper {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1290px) and (min-width: 1051px) {
  /* Medium desktop: 4 tiles */
  /* line 460, /Users/paulpalmer/Paul/app/assets/stylesheets/application.css.scss */
  .portfolio-square {
    width: 25%;
    padding-bottom: 25%;
  }
}
