<% @projects.each do |project| %>
	<div class="portfolio-square">
		<%= link_to project do %>
			<div class="inside-square" "blur">
				<div class="blur"><%= image_tag "#{project.img_path}" %></div>	
				<p><%= project.title.upcase %></p>
			</div>
		<% end %>
	</div>	
<% end %>

