@font-face {
    font-family: 'roboto_condensedbold';
    src: font-url('robotocondensed-bold-webfont.eot');
    src: font-url('robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('robotocondensed-bold-webfont.woff') format('woff'),
         font-url('robotocondensed-bold-webfont.ttf') format('truetype'),
         font-url('robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roboto_condensedlight';
    src: font-url('robotocondensed-light-webfont.eot');
    src: font-url('robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('robotocondensed-light-webfont.woff') format('woff'),
         font-url('robotocondensed-light-webfont.ttf') format('truetype'),
         font-url('robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roboto_condensedregular';
    src: font-url('robotocondensed-regular-webfont.eot');
    src: font-url('robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('robotocondensed-regular-webfont.woff') format('woff'),
         font-url('robotocondensed-regular-webfont.ttf') format('truetype'),
         font-url('robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vollkornbold';
    src: font-url('vollkorn-bold-webfont.eot');
    src: font-url('vollkorn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('vollkorn-bold-webfont.woff') format('woff'),
         font-url('vollkorn-bold-webfont.ttf') format('truetype'),
         font-url('vollkorn-bold-webfont.svg#vollkornbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'vollkornregular';
    src: font-url('vollkorn-regular-webfont.eot');
    src: font-url('vollkorn-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('vollkorn-regular-webfont.woff') format('woff'),
         font-url('vollkorn-regular-webfont.ttf') format('truetype'),
         font-url('vollkorn-regular-webfont.svg#vollkornregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/****  LAYOUT STYLES  ****/

body {
  margin: 0;
  padding: 0;
  background: #E6E6E2;
}

a {
  text-decoration: none;

  &:visited {
    // color: #000;
  }
}

h1 {
  font-family: 'roboto_condensedregular'
}

header {
  width: 100%;
  background: #fff;
  
  #logo {
    top: 50%;
    width: 45%;
    float: left;
    position: relative;
      font-family: 'roboto_condensedbold';
      font-size: 3em;
      color: #FA4D32;

      a {
        color: #FA4D32;
      }
  }
}


header nav {
  width: 35%;
  float: right;
    margin-top: 50px;
  
  ul {
    list-style: none;
      padding: 0;
        margin: 0;
      text-align: center;
    
    li {
      display: inline-block;
      width: 33.3%; 
      font-size: 1.3em;
      float: left;
      font-family: 'roboto_condensedregular';
      color: #3A3A3C;

      a {
        color: #3A3A3C;
      }
    }
  }
}

#page_wrapper {
  max-width: 60em;
  margin: 0 auto;
  overflow: hidden;
  
  #content-wrapper{
    margin-top: 150px;
        overflow: hidden;
  }
}

/****  WORK PAGE  ****/

.portfolio-square {
  width: 25%;
  padding-bottom: 25%;
  position: relative;
  float: left;
  
  .inside-square {
    position: absolute;
    left: 2px;
    right: 2px; 
    top: 2px;
    bottom: 2px;
    overflow: hidden;

    &:hover {
      img {
        -webkit-filter: blur(4px);
        transition: 1s ease;
      }

      p {
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
          -o-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
          opacity: 1;
      }
    }

    .blur {
      height: 100%;
      -webkit-backface-visibility: hidden;
    }
    
    img {
      display: block;
      margin: 0;
        width: 100%;
    }

    a {
      position: absolute; 
      top: 0%;
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
        color: #fff;
    }

  }
}


/****  PROJECTS PAGES  ****/

.project_title {
  width: 100%;
  text-align: center;
}


.project_description {
  max-width: 75%;
  margin: 0 auto;
}

/****  ABOUT  ****/

#about_title {
  text-align: center;
}

#img, #paragraph {
    width: 50%;
    padding-bottom: 50%;
    position: relative;
    float: left;

    #inner_img, #inner-paragraph {
        position: absolute;
        left: 15px;
        right: 15px; 
        top: 15px;
        bottom: 15px;
        overflow: hidden;
    }

    p {
        position: absolute;
        text-align: left;
        margin: 0;
    }

    img {
        display: block;
        width: 100%;
    }
}


/****  SIMPLE _FORM CSS  ****/

h1#contact_header {
    text-align: center;
}

#formcontainer {
    width: 70%;
    font-size: 15px;
    margin: 50px auto;
}

.simple_form { 
  div.input {
      margin-bottom: 30px;
      clear: both; /* Required for Webkit, but not for Gecko */
  }

  label {
     display: none;
  }
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
      display: block;
    margin-left: 120px;
  }

  .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
}

input {
  .radio {
    margin-right: 5px;
    vertical-align: -3px;
  }

  .check_boxes {
    margin-left: 3px;
        vertical-align: -3px;
  }
}

input#contact_name.string.required{
  font-size: 15px;
  height: 2em;
  width: 100%;
  border: none;
  border-radius: 2px;
}


input#contact_email.string.email.required {
  font-size: 15px;
  height: 2em;
  width: 100%;
  border: none;
  border-radius: 2px;
}  


textarea#contact_message.text.optional {
  font-size: 15px;
  height: 6em;
  width: 100%;
  border: none;
  border-radius: 2px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

abbr {
  display: none;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 0px;
  border: 2px solid #2C2C2E;
  border-radius: 1px;
  background: transparent;
  padding: 10px 30px;
  font-size: 15px;
  color: #2C2C2E;
  transition: .5s ease;

  &:hover {
    background: #2C2C2E;
    color: #E0E0DB;

  }
}





/***********  RESPONSIVE  ************/


@media only screen and (max-width : 480px) {
  /* Smartphone view: 1 tile */
  
  .portfolio-square {
    width: 50%;
    padding-bottom: 50%;
    text-align: center;
  }

   header #logo {
    float: none;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 2.25em;
  }
  
  header nav {
    float: none;
    margin: 0 auto;
    width: 100%;
    font-size: .85em;
  }

  nav ul {
    padding: 0;
  }

  nav li {
    width: 33.3%;
    float: left;
  }

  #page_wrapper { 
    #content-wrapper {
      margin-top: 50px;
    }
  }

  #img, #paragraph {
    width: 100%;
    padding-bottom: 40%;

    #inner_img, #inner_paragraph {
      width: 40%;
      margin: 0 auto;
    }
  }

  #formcontainer {
    width: 85%;
  }
}
@media only screen and (max-width : 750px) and (min-width : 481px) {
  /* Tablet view: 2 tiles */
  .portfolio-square {
    width: 50%;
    padding-bottom: 50%;
  }

   header #logo {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  header nav {
    float: none;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
  }

  nav ul {
    padding: 0;
  }

  nav li {
    width: 33.3%;
    float: left;
  }

  #page_wrapper {
    #content-wrapper {
      margin-top: 100px;
    }
  }

  #img, #paragraph {
    width: 100%;
    padding-bottom: 40%;

    #inner_img, #inner_paragraph {
      width: 40%;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  /* Medium desktop: 4 tiles */ 
  .portfolio-square {
    width: 25%;
    padding-bottom: 25%;
  }
}

































