<header>
    <h1 id="logo"><%= link_to "PAUL PALMER", '#' %></h1>
    <nav>
        <ul>
        	<li><%= link_to "Work", root_path %></li>
        	<li><%= link_to "About", about_path %></li>
        	<li><%= link_to "Contact", contact_path %></li>
        	<li></li>
        </ul>
    </nav>
</header>